*{
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    position: relative;
    width: 1360px;
    height: auto;
    margin: auto;
}

/* Section 1 */
.section1__bg{
    width: 1360px;
    position: relative;
    z-index: -1;
    object-fit: cover;
}
.logo{
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    top: 63px;
    left: 128px;
    color: white;
    font-family: 'Basic', sans-serif;
}
.logo__circle{
    position: relative;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
}
.logo__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.logo__title{
    margin-left: 15px;
    font-size: 24px;
    letter-spacing: 3px;
} 

.intro{
    position: absolute;
    z-index: 0;
    top: 109px;
    left: 895px;
    width: 417px;
    height: 469px;
    color: white;
    font-family: 'Basic', sans-serif;
}
.intro__navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.intro__greeting{
    font-size: 54px;
}
.intro__button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 56px;
    border-radius: 30px;
    bottom: 0px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #545871;
    font-size: 24px;
}

/* Section 2 */
.section2{
    width: inherit;
    margin-top: 112px;
    margin-bottom: 113px;
    display: flex;
    justify-content: space-around;
}
.section2 .left-content{
    width: 480px;
    font-family: 'Open Sans', sans-serif;
    color: #545871;
    font-size: 24px;
}
.section2 .left-content__title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    margin-bottom: 26px;
}
.section2 .left-content__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 56px;
    margin-top: 57px;
    border-radius: 30px;
    background-color: #545871;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.section2 .right-content{
    width: 574px;
    display: grid;
    grid-template-columns: 256px 256px;
    grid-template-rows: 256px 256px;
    grid-gap: 34px 32px;
}
.section2 .grid__item{
    position: relative;
}
.section2 .grid__item p{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

/* Section 3 */
.section3{
    width: inherit;
    display: flex;
}
.section3 .left-content{
    position: relative;
}
.section3 .left-content p{
    position: absolute;
    left: 99px;
    bottom: 111px;
    color: white;
}
.section3 .right-content{
    position: relative;
    height: 694px;
    width: 100%;
    background-color: #F7ECEB;
}
.section3 .right-content__wrapper{
    position: absolute;
    top: 117px;
    left: 160px;
    width: 415px;
    height: 461px;
    font-family: 'Open Sans', sans-serif;
    color: #545871;
    font-size: 24px;
}
.section3 .right-content__title{
    margin-bottom: 28px;
    color: #545871;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
}
.section3 .right-content__button{
    margin-top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 56px;
    border-radius: 30px;
    background-color: #545871;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* Section 4 */
.section4{
    position: relative;
    z-index: 1;
    margin-top: -5px;
    width: inherit;
    height: 974px;
    background-color: #545871;
    color: white;
}
.section4 .section4__title{
    padding-top: 107px;
    padding-bottom: 62px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    text-align: center;
}
.section4 .section4__wrapper{
    display: grid;
    margin: auto;
    width: 1152px;
    grid-template-columns: 544px 544px;
    grid-template-rows: 224px 224px;
    grid-gap: 64px 64px;
}
.section4 .grid__item{
    display: flex;
    align-items: center;
    width: 544px;
    height: 224px;
    background-color: white;
}
.section4 .grid__item img{
    margin-left: 32px;
}
.section4 .reviews{
    color: #545871;
    margin-left: 30px;
    margin-right: 32px;
}
.section4 .reviews__name{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    margin-bottom: 14px;
}
.section4 .reviews__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.section4__button{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 53px;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 56px;
    border-radius: 30px;
    background-color: #F7ECEB;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #545871;
}

/* Section 5 */
.section5{
    width: inherit;
    height: 1074px;
    color: #545871;
}
.section5__title{
    width: 700px;
    margin: auto;
    margin-top: 103px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    text-align: center;
}
.section5__text{
    width: 600px;
    margin: auto;
    margin-top: 39px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: justify;
}
.section5__wrapper{
    width: 1248px;
    height: 450px;
    margin: auto;
    margin-top: 130px;
    display: grid;
    justify-content: center;
    grid-template-columns: 352px 352px 352px;
    grid-gap: 0px 63px;
}
.section5 .grid__item{
    position: relative;
    width: 352px;
    height: 400.5px;
    border: solid 1px #DADBE6;
    border-radius: 10px;
    text-align: center;
}
.section5 .circle{
    position: relative;
    top: -48px;
    width: 96px;
    height: 96px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px #E6DBDA;
    background-color: #F7ECEB;
}
.section5 .circle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section5 .grid-item__title{
    margin-top: -20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
}
.section5 .grid-item__text{
    width: 223px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.section5 .price{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 127px;
    background-color: #F0F1F7;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.section5 .price__value{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
}
.section5 .price__detail{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #9597A6;
}
.section5__button{
    margin: auto;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 56px;
    border-radius: 30px;
    background-color: #545871;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: white;
}

/* Footer */
.footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: inherit;
    height: 504px;
    background-color: #F7ECEB;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    color: #545871;
}
.footer a{
    color: inherit;
    text-decoration: underline;
}