*{
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    color: #EBD0CE;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #EBD0CE;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #EBD0CE;
}

/* Common Block */

.mt-19{
    margin-top: 19px;
}
.mt-22{
    margin-top: 22px;
}
.mt-50{
    margin-top: 50px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-44{
    margin-bottom: 44px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-56{
    margin-bottom: 56px;
}
.mb-66{
    margin-bottom: 66px;
}

.d-inline{
    display: inline;
}
.grid{
    display: grid;
}
.option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

/* Content */
.container{
    margin: auto;
    display: flex;
    width: 1440px;
    background-color: #F7ECEB;
    font-family: 'Open Sans', sans-serif;
}
    .aside{
        position: relative;
        font-size: 24px;
    }
        .aside__bg{
            display: block;
        }
        .aside__container{
            position: absolute;
            top: 78px;
            left: 108px;
            color: white;
        }
            .aside__logo{
                display: flex;
                align-items: center;
            }
                .aside__circle{
                    position: relative;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background-color: #EBD0CE;
                }
                    .aside__icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                .aside__title_logo{
                    margin-left: 15px;
                    letter-spacing: 3px;
                }
            .aside__title_list{
                margin-bottom: 24px;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 36px;
                color: white;
            }
            .aside__list{
                margin-left: 23.8px;
            }
                .aside__list li{
                    width: 318px;
                    margin-bottom: 18px;
                }

    .section{
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: column;
    }
        .section__container{
            position: relative;
            width: 599px;
            margin: auto;
        }
            .section__title{
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 46px;
                color: #545871;
            }
            .section__input{
                height: 56px;
                margin-top: 11px;
                box-sizing: border-box;
                padding: 12px 11px;
                border-radius: 5px;
                border: 1px solid #E6DBDA;
                color: #9597A6;
                font-size: 24px;
            }
                .section__input:focus{
                    outline: none;
                    border: 1px solid #B8817D;
                }
                .section__input_col-1{
                    width: 608px;
                }
                .section__input_col-2{
                    width: 288px;
                }
                .section__input_col-3{
                    width: 128px;
                }
            .section__grid{
                column-gap: 32px;
                grid-template-rows: 92px;
            }
                .section__grid_col-2{
                    grid-template-columns: 288px 288px;
                }
                .section__grid_col-3{
                    grid-template-columns: 288px 128px 128px;
                }
            .section__option{
                font-family: 'Noto Sans JP', sans-serif;
                color: #545871;
                width: 608px;
                height: 152.65px;
                border-radius: 5px;
                background-color: white;
            }
                .section__option-item{
                    width: 144px;
                    height: 136px;
                    border-radius: 3px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .section__option-item_selected{
                    background-color: #EBD0CE;
                }
                .section__option-item img{
                    border-radius: 50%;
                }

.navigation{
    position: relative;
    display: flex;
    height: 108px;
    background-color: white;
}
    .navigation__container{
        display: flex;
        justify-content: space-between;
        width: 532px;
        margin: auto;
    }
        .navigation a{
            text-decoration: none;
            color: #545871;
            font-size: 24px;
        }
        .navigation__button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 56px;
            border: 1px solid #545871;
            border-radius: 100px;
        }